extend ../layout.pug

block content
    h1= title
    div#wrapper
        <form enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">歌单名称</label>
            <input type="text" class="form-control"  placeholder="歌单名称" id="name" required>
          </div>
          <div class="form-group">
            <label for="author">关键字</label>
            <input type="text" class="form-control"  placeholder="关键字" id="keyword" required>
          </div>
          <div class="form-group">
            <label for="language">简介</label>
            <textarea type="text" class="form-control"  placeholder="简介" id="summary" required></textarea>
          </div>
          <div class="form-group">
            <label for="pic">歌单图片</label>
            <input type="file" name="pic" id='pic' required>
            img(src="", alt="", id="image")
          </div>
          div#progress
            div#step
          span#pro
          br
          <button type="submit" class="btn btn-default" id='submit'>Submit</button>
        </form>
    style.
        h1{
            text-align: center;
        }
        #wrapper{
            width: 80%;
            margin: auto;
        }
        #progress{
            height: 5px;
            width: 500px;
            border-radius: 10px/8px;
            background-color: gray;
            display: inline-block;
            margin-bottom: 10px;
        }
        #image{
            width: 200px;
            height: 200px;
        }
        input{
            display: inline-block !important;
        }
        audio{
            position: relative;
            top: 10px;
            left: -20px;
            background-color: rgba(0,0,0,.6);
        }
        #step{
            height: 5px;
            background-color: green;
            width: 0;
            border-radius: 10px/8px;
        }
    script.
        
        var image = $('#image')[0];
        var xhr = new XMLHttpRequest();
        var span = $('#pro')[0];
        var step = $('#step');

        $('#pic').bind('change', function (event) {
            var reader = new FileReader();
             reader.onload = function (event) {
                 image.src = event.target.result;
             };
             reader.readAsDataURL(event.target.files[0]);
        })
        $('#submit').bind('click', function (e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append('name', $("#name").val());
            formData.append('keyword', $('#keyword').val());
            formData.append('summary', $('#summary').val());
            formData.append('pic', $('#pic')[0].files[0]);

            if(image.value===''){
                alert('请选择文件');
                return;
            }

            xhr.onload = uploadSuccess;
            xhr.upload.onprogress = setProgress;
            xhr.open('post','/admin/upload/songlist');
            xhr.send(formData);
        })
        
        function uploadSuccess () {
            if(xhr.readyState==4){
                console.log(xhr.responseText);
                alert('上传成功');
            }
        }
        
        function setProgress () {
            var complete = Number.parseInt(event.loaded / event.total * 100);
            span.innerHTML = complete + '%';
            step.width(complete/100 * $('#progress').width() + 'px');
        }